<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <span [hidden]="edit" [contentEditable]="false" id="hero-name">{{ hero.name }}</span>
    <input [hidden]="!edit" id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button [hidden]="edit" type="button" (click)="edition()">Edit</button>
  <button [hidden]="!edit" type="button" (click)="save()">Save</button>
  <button type="button" (click)="goBack()">Go back</button>
</div>
